<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medcare | Clinic Website</title> 
    <!-- Page Icon -->
    <link rel="shortcut icon" href="/images/heartbeat-solid.svg" type="image/x-icon">   
    <!-- Custom Css File Link -->
    <link rel="stylesheet" href="/css/main.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <!-- Header Section Starts -->
    <div class="header">
        <a href="#" class="logo"><i class="fas fa-heartbeat"></i> medcare</a>
        <nav class="navbar">
            <a href="/doctors">Врачи</a>
            <a href="/patients">Пациенты</a>
            <a href="/diseases">Болезни</a>
            <a href="/journals">Журнал посещений</a>
        </nav>
        <div id="menu-btn" class="fas fa-bars"></div>
    </div>
    <!-- Header Section End -->

    <!-- Home Section starts -->
    <section class="home" id="home">
        <div class="image">
            <img src="/images/home-img.svg" alt="home-img.svg">
        </div>
        <div class="content">
            <h3>Будьте здоровы!</h3>
            <p> Добро пожаловать в систему управления поликлиникой, выберите раздел в меню для работы с данными.</p>
            <!-- <a href="#" class="btn">Связаться <span class="fas fa-chevron-right"></span> </a> -->
        </div>
    </section>
    <!-- Home Section End -->
</body>
</html>